/*  your css code here. If applicable */
*{
	background-color: #cccccc;
}
.heading{
	text-align:center;
}
a{
	text-decoration:none;
	color:black;
	background-color:white
}
.player_one{
	background-color:white;

	border:1px solid black;
	border-radius:5px;
	padding-bottom:10px;
	padding-top:10px;
	padding-inline:5px
}
h4{
	text-align:center;
	margin-top:0px;
}
.section-2{
	background-position:center;
	border:1px solid black;
	text-align:center;
	background-transform:cover;
	padding-top:5px;
}
.player_two{
	margin: auto;
	 position: cover; top: 0; left: 0;
	background-size:cover;
	background-position:center top;
}
.player_three{
	margin: auto;
	background-size:cover;
	background-position:center top;
}
